<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/images/icons/favicon.ico" />

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Malin Wincrantz - Digital Designer</title>

    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="js/mini-toggler.js"></script>
    <script src="js/lastfm.js"></script>
    <script src="js/fastclick.js"></script>
    <script src="js/adventures.js"></script>
    <script src="js/responsive-iframe.js"></script>
  </body>
</html>
