/* Welcome to colors.scss - Here are rules for colors
remove, rename and add colors for your webpage. remember
to remove the slashes before the colors you want to use. */

// Colors

$background: #F8F8F8;
$pri_text: #3C424F;

$pri_purple: #BD0FE1;
$sec_red: #FA3D65;

$pri_orange: #ffa94b;
$sec_orange: #ff931e;

$pri_red: #ff534b;

$pri_blue: #0B5567;
$pri_midblue: #128aaa;
$pri_lightblue: #15A9CE;


//$sec_color: #colorhere;
