/* Welcome to type.scss - Here are rules that controls all typefaces on the
page. Add your settings here before you create your page so you know where
to use what font and size */

html {
  font-size: $main-font-size;
}

body {
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: $pri_text;
  line-height: 1.5;
  text-align: left;
}

// headers
h1, h2, h3, h4, h5, h6 {
  color: $pri_text;
  font-family: 'Fira Sans Medium', sans-serif;
  letter-spacing: 0;
  text-align: left;
  font-weight: bold;
}
h1 {
  @include x-rem(font-size, 7);
  color: $pri_purple;
  line-height: 1.2;
  margin-bottom: 40px;
  margin-top: 40px;
  @include single-column {
    @include x-rem(font-size, 2.6);
  }
}
h1.alt {
  margin-bottom: 20px;
  margin-top: 20px;
}

h2 {
  @include x-rem(font-size, 3);
  color: $pri_purple;
  line-height: 1.2;
  padding-bottom: 20px;
  @include single-column {
    @include x-rem(font-size, 2.6);
  }
}

p.text-intro {
  @include x-rem(font-size, 2.4);
  line-height: 1.6;
  width: 85%;
  @include single-column {
    @include x-rem(font-size, 1.6);
    width: 100%;
  }
}

p.text-footer {
  @include x-rem(font-size, 2.2);
  line-height: 1.4;
  width: 80%;
  margin-bottom: 15px;
  @include single-column {
    @include x-rem(font-size, 1.6);
    width: 100%;
  }
}

p.card-text {
  margin-bottom: 5px;
}

span.color {
  color: $sec_red;
  font-weight: bold;
}

h3 {
  @include x-rem(font-size, 2);
  font-weight: bold;
  @include single-column {
    @include x-rem(font-size, 1.8);
  }
}

// Text
p {
  @include x-rem(font-size, 1.8  );
  text-align: left;
  @include single-column {
    @include x-rem(font-size, 1.6);
  }
}

p.small {
  @include x-rem(font-size, 1.2);
}



// Links
a {
  @include x-rem(font-size, 1.8);
  color: $sec_red;
  font-weight: bold;
  font-family: 'Fira Sans', sans-serif;
  text-decoration: none;
  border-bottom: 1px solid;
  &:hover {
    color: #C72F50;
  }
  @include single-column {
    @include x-rem(font-size, 1.6);
  }
}
