<section class="wrapper">
  <div class="row">
  <h2>Stuff I've made</h2>
</div>
<div class="row">
  <div class="sixcol">
    <img src="images/case/placeholder.jpg">
  </div>
  <div class="sixcol case_text">
    <h3>Taxi Stockholm</h3>
    <p>Dolor fugit. Pariatur nihil quia but ipsa for eu or id. Aliquip natus. Nesciunt doloremque or voluptate, and et or laborum. Ipsa nemo rem. Autem. Sequi ullam or mollit yet commodi cupidatat. Corporis exercitation for inventore for aliqua. Exercitationem excepteur, ipsam yet tempora, aliqua cupidatat consequuntur. </p>
    <a href="./case_tsab.html"><p>Show me this project <img src="images/icons/arrow-right.svg" class="arrow-icon"></p></a>
  </div>
</div>
<div class="row">
  <div class="sixcol">
    <img src="images/case/placeholder.jpg">
  </div>
  <div class="sixcol case_text">
    <h3>Läkare utan gränser</h3>
    <p>Dolor fugit. Pariatur nihil quia but ipsa for eu or id. Aliquip natus. Nesciunt doloremque or voluptate, and et or laborum. Ipsa nemo rem. Autem. Sequi ullam or mollit yet commodi cupidatat. Corporis exercitation for inventore for aliqua. Exercitationem excepteur, ipsam yet tempora, aliqua cupidatat consequuntur. </p>
    <a href="./case_msf.html"><p>Show me this project <img src="images/icons/arrow-right.svg" class="arrow-icon"></p></a>
  </div>
</div>
<div class="row">
  <div class="sixcol case_text">
    <h3>Iteam</h3>
    <p>Dolor fugit. Pariatur nihil quia but ipsa for eu or id. Aliquip natus. Nesciunt doloremque or voluptate, and et or laborum. Ipsa nemo rem. Autem. Sequi ullam or mollit yet commodi cupidatat. Corporis exercitation for inventore for aliqua. Exercitationem excepteur, ipsam yet tempora, aliqua cupidatat consequuntur. </p>
    <a href="./case_iteam.html"><p>Show me this project <img src="images/icons/arrow-right.svg" class="arrow-icon"></p></a>
  </div>
  <div class="sixcol">
    <img src="images/case/placeholder.jpg">
  </div>
</div>
<div class="row">
  <div class="sixcol case_text">
    <h3>+rehabstudio</h3>
    <p>Dolor fugit. Pariatur nihil quia but ipsa for eu or id. Aliquip natus. Nesciunt doloremque or voluptate, and et or laborum. Ipsa nemo rem. Autem. Sequi ullam or mollit yet commodi cupidatat. Corporis exercitation for inventore for aliqua. Exercitationem excepteur, ipsam yet tempora, aliqua cupidatat consequuntur. </p>
    <a href="./case_rehabstudio.html"><p>Show me this project <img src="images/icons/arrow-right.svg" class="arrow-icon"></p></a>
  </div>
  <div class="sixcol">
    <img src="images/case/placeholder.jpg">
  </div>
</div>
<div class="row">
  <div class="sixcol">
    <img src="images/case/placeholder.jpg">
  </div>
  <div class="sixcol case_text">
    <h3>Calderan</h3>
    <p>Dolor fugit. Pariatur nihil quia but ipsa for eu or id. Aliquip natus. Nesciunt doloremque or voluptate, and et or laborum. Ipsa nemo rem. Autem. Sequi ullam or mollit yet commodi cupidatat. Corporis exercitation for inventore for aliqua. Exercitationem excepteur, ipsam yet tempora, aliqua cupidatat consequuntur. </p>
    <a href="./case_calderan.html"><p>Show me this project <img src="images/icons/arrow-right.svg" class="arrow-icon"></p></a>
  </div>
</div>
<div class="row">
  <div class="sixcol">
    <img src="images/case/placeholder.jpg">
  </div>
  <div class="sixcol case_text">
    <h3>Hackweek projects at +rehabstudio</h3>
    <p>Dolor fugit. Pariatur nihil quia but ipsa for eu or id. Aliquip natus. Nesciunt doloremque or voluptate, and et or laborum. Ipsa nemo rem. Autem. Sequi ullam or mollit yet commodi cupidatat. Corporis exercitation for inventore for aliqua. Exercitationem excepteur, ipsam yet tempora, aliqua cupidatat consequuntur. </p>
    <a href="./case_hackweeks.html"><p>Show me this project <img src="images/icons/arrow-right.svg" class="arrow-icon"></p></a>
  </div>
</div>
</section>
