<div class="wrapper small_margin">
  <div class="row">
    <div class="eightcol">
      <h2>Send me a message!</h2>
      <p>You can find me at a few different places. Say hello or just take a sneak peak at my social media life why don't you.</p>
    </div>
  </div>
</div>
<div class="wrapper section_margin">
  <div class="row">
      <ul class"=contact_ul">
        <li class="contact_li">
          <a href="" class="no_border">
            <img src="images/icons/phone.svg" class="svg-icons">
            <span class="contact-list case_link">+46 73 25 40 565</span>
          </a>
        </li>
        <li class="contact_li">
          <a href="mailto:wincrantz.malin@gmail.com" target="_blank" class="no_border">
            <img src="images/icons/email.svg" class="svg-icons">
            <span class="contact-list case_link">wincrantz.malin (@) gmail.com</span>
          </a>
        </li>
        <li class="contact_li">
          <a href="https://www.linkedin.com/in/malinwincrantz/" target="_blank" class="no_border">
            <img src="images/icons/linkedin.svg" class="svg-icons">
            <span class="contact-list case_link">malinwincrantz</span>
          </a>
        </li>
        <li class="contact_li">
          <a href="https://www.instagram.com/ftwcrantz" target="_blank" class="no_border">
            <img src="images/icons/instagram.svg" class="svg-icons">
            <span class="contact-list case_link">ftwcrantz</span>
          </a>
        </li>
        <li class="contact_li">
          <a href="https://last.fm/user/erectionwoman" target="_blank" class="no_border">
            <img src="images/icons/lastfm.svg" class="svg-icons">
            <span class="contact-list case_link">last.fm</span>
          </a>
        </li>
      </ul>
  </div>
</div>

<section class="wrapper quote">
  <div class="row">
    <p class="text-footer">"In six short months Malin confidently tackled a range of digital design problems demonstrating abilities from responsive web design layout to iconography. She also contributed new idea generation techniques which we have put into practice. A pleasure to have as part of our design team and more than ready to enter the industry, you should hire her!"</p>
    <p>– Stephen Horner, </br>Associate Creative Director at +rehabstudio</p>
  </div>
</section>
