<footer class="wrapper">
  <div class="row">
    <h2>Send me a message!</h2>
  </div>
  <div class="row">
    <div class="eightcol">
      <h3>Your email</h3>
      <h3>Write me something nice</h3>
      <a href="#"><p>Go message go! <img src="images/icons/arrow-right.svg" class="arrow-icon"></p></a>
    </div>
    <div class="fourcol">
      <ul>
        <li><a href=""><img src="images/icons/phone.svg" class="svg-icons"><p class="contact-list">+46 73 25 40 565</p></a></li>
        <li><a href="mailto:wincrantz.malin@gmail.com" target="_blank"><img src="images/icons/email.svg" class="svg-icons"><p class="contact-list">wincrantz.malin (@) gmail.com</p></a></li>
        <li><a href="https://www.linkedin.com/in/malinwincrantz/" target="_blank"><img src="images/icons/linkedin.svg" class="svg-icons"><p class="contact-list">malinwincrantz</p></a></li>
        <li><a href="https://www.instagram.com/ftwcrantz" target="_blank"><img src="images/icons/instagram.svg" class="svg-icons"><p class="contact-list">ftwcrantz</p></a></li>
        <li><a href="https://last.fm/user/erectionwoman" target="_blank"><img src="images/icons/lastfm.svg" class="svg-icons"><p class="contact-list">last.fm</p></a></li>
      </ul>
    </div>
  </div>
</footer>
