<header class="wrapper">
  <div class="row" style="position: relative;">
      <div class="logo">
        <a href="/">
          <img src="./images/header/home.svg" alt="logo" class="float">
          <div class="shadow scale"></div>
        </a>
      </div>
      <ul>
        <li><a href="./case_allcases.html">Things I've done</a></li>
        <li><a href="./about.html">About me</a></li>
      </ul>
  </div>
</header>
