<header class="wrapper">
  <div class="row">
      <a class="logo"><img src="images/header/home.png" /></a>
      <ul>
        <li><a href="#">Things I've done</a></li>
        <li><a href="#">About me</a></li>
      </ul>
  </div>
</header>
