<header class="wrapper">
  <div class="row">
      <a class="logo floating"><img src="images/header/home.png" /></a>
      <div class="shadow scale"></div>
      <ul>
        <li><a href="#">Things I've done</a></li>
        <li><a href="about.html.erb">About me</a></li>
      </ul>
  </div>
</header>
