<header class="wrapper">
  <div class="row">
      <a class="logo">
        <img class="floating" src="images/header/home.svg" />
        <div class="shadow scale"></div>
      </a>
      <ul>
        <li><a href="#">Things I've done</a></li>
        <li><a href="./about.html">About me</a></li>
      </ul>
  </div>
</header>
