<section class="wrapper">
  <div class="row">
    <h2>My other projects</h2>
    <div class="flex-grid-thirds">
      <div class="col">
        <h3>Läkare utan gränser</h3>
				<img src="images/case/placeholder_thumb.jpg">
      </div>
      <div class="col">
				<h3>Iteam</h3>
				<img src="images/case/placeholder_thumb.jpg">
      </div>
      <div class="col">
				<h3>Calderan</h3>
				<img src="images/case/placeholder_thumb.jpg">
      </div>
      <div class="col">
				<h3>+rehabstudio</h3>
				<img src="images/case/placeholder_thumb.jpg">
      </div>
      <div class="col">
				<h3>Taxi Stockholm</h3>
				<img src="images/case/placeholder_thumb.jpg">
      </div>
      <div class="col">
				<h3>+rehabstudio Hackweeks</h3>
				<img src="images/case/placeholder_thumb.jpg">
      </div>
    </div>
  </div>
</section>
