<section class="wrapper">
  <div class="row">
    <h2>My other projects</h2>
    <div class="flex-grid-thirds">
      <div class="col">
        <a href="./case_msf.html">
        <h3>Läkare utan gränser</h3>
				<img src="images/case/placeholder_thumb.jpg">
        </a>
      </div>
      <div class="col">
        <a href="./case_iteam.html">
				<h3>Iteam</h3>
				<img src="images/case/placeholder_thumb.jpg">
        </a>
      </div>
      <div class="col">
        <a href="./case_calderan.html">
				<h3>Calderan</h3>
				<img src="images/case/placeholder_thumb.jpg">
        </a>
      </div>
      <div class="col">
        <a href="./case_rehabstudio.html">
				<h3>+rehabstudio</h3>
				<img src="images/case/placeholder_thumb.jpg">
        </a>
      </div>
      <div class="col">
        <a href="./case_tsab.html">
				<h3>Taxi Stockholm</h3>
				<img src="images/case/placeholder_thumb.jpg">
        </a>
      </div>
      <div class="col">
        <a href="./case_hackweeks.html">
				<h3>+rehabstudio Hackweeks</h3>
				<img src="images/case/placeholder_thumb.jpg">
        </a>
      </div>
    </div>
  </div>
</section>
