<section class="wrapper section_margin">
  <div class="row">
    <h2>My other projects</h2>
    <div class="flex-grid-fours">
      <div class="col">
        <a href="./case_tsab.html" class="no_border">
          <img src="images/thumbs/thumb_tsab.jpg">
          <h3>Taxi Stockholm</h3>
          <span class="case_link">Show me this project <img src="images/icons/arrow-right.svg" class="arrow-icon"></span>
        </a>
      </div>
      <div class="col">
        <a href="./case_msf.html" class="no_border">
  				<img src="images/thumbs/thumb_msf.jpg">
          <h3>Läkare utan gränser</h3>
          <span class="case_link">Show me this project <img src="images/icons/arrow-right.svg" class="arrow-icon"></span>
        </a>
      </div>
      <div class="col">
        <a href="./case_iteam.html" class="no_border">
  				<img src="images/thumbs/thumb_iteam.jpg">
          <h3>Iteam</h3>
          <span class="case_link">Show me this project <img src="images/icons/arrow-right.svg" class="arrow-icon"></span>
        </a>
      </div>
      <div class="col">
        <a href="./case_rehabstudio.html" class="no_border">
  				<img src="images/thumbs/thumb_rehab.jpg">
          <h3>+rehabstudio</h3>
          <span class="case_link">Show me this project <img src="images/icons/arrow-right.svg" class="arrow-icon"></span>
        </a>
      </div>
    </div>
  </div>
</section>
