---
title: About me
---
<%= partial "header" %>

<div class="wrapper">
	<div class="row">
		<img class="about_header" src="images/about/about_header.jpg">
	</div>
</div>

<div class="wrapper">
	<div class="row">
		<div class="threecol">
			<img class="illustration" src="images/about/illustration.svg">
		</div>
		<div class="ninecol">
		<h3>Heya</h3>
			<p>My name is Malin and I work as a digital designer, I enjoy making things for web, mobile and other screens. I mainly work in Sketch but also use Photoshop, Illustrator from time to time. I have a diploma from Hyper Island where I attended the 2 year long program called Digital Media Creative where I learned a lot of really usefull stuff like group dynamic, ideation methods, playing with different tech and got some serious insight in my self through feedback sessions and personal development.</p>
			<p>Lately I’ve sparked a curious interest for programming, knowing basic HTML and css beforehand I’m diving into more complex stuff like module based css, frameworks and javascript. My goal is to be able to bring life to the things I design myself to see it through all the way from beginning to production.</p>
			<h3>How I made this site</h3>
			<p>This is a static GitHub Page generated using Jekyll, designed and coded by me. The baseline alignment is created using SASSLINE. The fonts are served by Adobe TypeKit. The source code can be found on GitHub.</p>
		</div>
	</div>
</div>
