---
title: About me
---
<%= partial "header" %>

<div class="wrapper section_margin">
	<div class="row">
		<img class="about_header" src="images/about/about_header.jpg">
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<div class="fourcol">
			<div class="illustration">
				<img src="images/about/illustration.svg">
			</div>
		</div>
		<div class="eightcol right">
		<h3>Heya!</h3>
			<p>My name is Malin and I work as a digital designer, I enjoy making things for web, mobile and other screens. I mainly work in <span class="color">Sketch</span> but also use <span class="color">Photoshop</span>, <span class="color">Illustrator</span> when needed. I have a diploma from <a href="https://www.hyperisland.com/" target="_blank">Hyper Island</a> where I attended the 2 year long program called <a href="https://www.hyperisland.com/programs-and-courses/digital-media-creative" target="_blank">Digital Media Creative</a> where I learned a lot of really usefull stuff like group dynamic, ideation methods, playing with different tech and got some serious insight into myself through feedback sessions and personal development.</p>
			<p>Lately I’ve sparked a curious interest for programming, knowing basic <span class="color">HTML</span> and <span class="color">CSS</span> beforehand I’m diving into more complex stuff like <span class="color">Sass</span> and <span class="color">javascript</span>. My goal is to be able to bring life to the things I design myself to see it through all the way from beginning to production.</p>
			<h3>How I made this site</h3>
			<p>I’ve designed this portfolio using Sketch, then coded it in <a href=“https://atom.io/“ target="_blank">Atom</a> using <span class="color">HTML5</span>, <a href="http://sass-lang.com/">Sass</a><span class="color">/CSS3</span>, <span class="color">jQuery</span> and <a href=“https://middlemanapp.com/“ target="_blank">Middleman</a>. Continuously committing to my <a href=“https://github.com/ftwcrantz/portfolio” target="_blank">Github</a> where you can check out the code.  Font is <a href="https://fonts.google.com/specimen/Fira+Sans" target="_blank">Fira Sans</a> from Google Fonts and icons from <a href="http://fontawesome.io/" target="_blank">Font Awesome</a>.</p>
		</div>
	</div>
</div>

<%= partial "footer" %>
