---
title: Case / Iteam
---
<%= partial "header" %>

<div class="wrapper">
	<div class="row">
		<h1>Case / Iteam</h1>
	</div>
</div>


<div class="wrapper section_margin">
	<div class="row">
		<img class="about_header" src="images/case/iteam/iteam_cover.jpg">
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<div class="sixcol">
			<h3>Iteam</h3>
			<p>Since I am the first designer since Iteam started 20 years ago there was lots to be done in-house when I started 2015. A couple of months earlier they had gotten a new graphic identity but hadn’t had time to impliment it fully.</p>
		</div>
		<div class="fivecol right">
			<p>I have since then crafted:</p>
			<ul class="dotted_list">
				<li>T-shirts</li>
				<li>Stickers</li>
				<li>An office flag for outdoor use</li>
				<li>Roll ups for events</li>
				<li>Business cards</li>
				<li>Christmas cards</li>
				<li>Taken photographs for an image bank</li>
				<li>A dashboard for internal use</li>
			</ul>
		</div>
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<div class="eightcol">
			<img src="images/case/iteam/iteam_rollup.jpg">
		</div>
		<div class="fourcol">
			<img src="images/case/iteam/iteam_rollup2.jpg">
		</div>
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<h3>Nordic.js</h3>
		<p>Team sponsored the javascript conference Nordic.Js and for our monter I did our roll ups and planned the space at the venue. It turned out really good and we definitely stood out with bold colours and a comfy place to sit during the breaks.</p>
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<div class="fourcol">
			<img src="images/case/iteam/iteam_cards.jpg">
		</div>
		<div class="fourcol">
			<img src="images/case/iteam/iteam_tshirt.jpg">
		</div>
		<div class="fourcol">
			<img src="images/case/iteam/iteam_christmas.jpg">
		</div>
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<h3>Branding</h3>
		<p>I’ve done our business cards in Iteams brand colours, swag in form of t-shirts for events and casual wear around the office. </br>For christmas 2016 we decided to step away from the traditional christmas cards and do a calendar instead since we had just hit 24 staff members which was perfect for the idea. </br>Each person got their own calendar slot and chose a charity to support. The calendar was a huge success and our clients appreciated the thought and said they looked forward to opening it each day.</p>
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<img src="images/case/iteam/iteam_wejay.jpg">
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<h3>Wejay</h3>
		<p>This was one of the first projects I did at Iteam. They had developed a fun way of playing music in a shared office space. When you added say, 10 songs and your friends added a few songs each, it would automatically mix all the tunes based on who played the latest and who hasn’t queued anything.</p><p>I looked for inspiration from dribblble and spotify and made this design that I was very proud of, I thought it looked really good and pretty. Until we actually implemented it and used it for a few weeks. All those fancy features I carefully made overcomplicated it a lot and we realised that it could be simplified a lot.</br>Although my designed kind of failed I learned a lot from it and now I think a lot more about the end user and what actually is the core function of the product and use the visual part of it to enhance those functions so it’s both pretty and useful.</p>
	</div>
</div>

<%= partial "otherprojects_iteam" %>
<%= partial "footer" %>
