---
title: Case / Taxi Stockholm
---
<%= partial "header" %>

<div class="wrapper">
	<div class="row">
		<h1>Case / Taxi Stockholm</h1>
	</div>
</div>


<div class="wrapper">
	<div class="row">
		<img class="about_header" src="images/case/tsab/bokningsassistenten_cover.jpg">
	</div>
</div>

<div class="wrapper">
	<div class="row">
		<div class="eightcol">
			<h3>Taxi Stockholm</h3>
			<p>I’ve worked on a few different projects with Iteams biggest client, Taxi Stockholm. For their costumer service department that’s working with communication and the logistics surrounding airport transportation to and from Bromma and Arlanda airports we helped with a new tool to automate some of their manual work. Instead of hours of copy + pasting information between two of their interfaces we made sure that the information automatically get’s transferred into the end system so that they can use that extra time creating value and improving service for their costumers.</p>
		</div>
	</div>
</div>

<div class="wrapper">
	<div class="row">
		<div class="eightcol right">
			<h3>Taxi Stockholm</h3>
			<p>I’ve worked on a few different projects with Iteams biggest client, Taxi Stockholm. For their costumer service department that’s working with communication and the logistics surrounding airport transportation to and from Bromma and Arlanda airports we helped with a new tool to automate some of their manual work. Instead of hours of copy + pasting information between two of their interfaces we made sure that the information automatically get’s transferred into the end system so that they can use that extra time creating value and improving service for their costumers.</p>
		</div>
	</div>
</div>

<%= partial "otherprojects" %>
<%= partial "footer" %>
