---
title: Case / Läkare utan gränser
---
<%= partial "header" %>

<div class="wrapper">
	<div class="row">
		<h1>Case / Läkare utan gränser</h1>
	</div>
</div>


<div class="wrapper section_margin">
	<div class="row">
		<img class="about_header" src="images/case/msf/msf_cover.jpg">
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<div class="tencol">
			<h3>Läkare utan gränser</h3>
			<p>When I found out we got Doctors without borders as our new client I was immediately happy for being able to help a great organisation becoming more digital and streamline how they recruit new donors to great causes.</br>The challenge was to take away the old ‘pen and paper’ way of recruit donors since it swallowed a lot of precious volonteer time with manual work, printing lists, human spelling errors, physical paper that needed to be posted each day and bank numbers that needed to be sent in to be checked back and forth.</br>It took a long time and prevented volunteers to do other great work.</p>
		</div>
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<div class="sixcol">
			<img src="images/case/msf/msf_1.jpg">
		</div>
		<div class="sixcol right">
			<p>I went to the head office and did interviews with different parts of the organisation to find out where we could improve most in the process. I talked to costumer service, donor service, team managers and had a close communcation with the head of direct dialog.</p><p>To better understand the process of recruiting donors I got to shadow two recruiters in the field and document how they used body language, speech and a binder with information and other materials to explain their vision and how donations helps them in their important work.</p>
		</div>
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<div class="sixcol">
			<img src="images/case/msf/msf_field.jpg">
		</div>
		<div class="sixcol right">
			<img src="images/case/msf/msf_field2.jpg">
			<p class="right">The app out in the field</p>
		</div>
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<div class="fivecol">
			<p>We also invited team managers to help make a user journey, ask questions about pros and cons with the current way of working and important things to think about when coming up with a new solutions that we may have missed.</br>After creating a user journey and discussing the best technical solutions with the tech lead and developers, we sketched up wireframes and began building the end product. We found that the best way would be to build a web application to be used on tablets by recruiters.</p>
		</div>
		<div class="sixcol right">
			<p>The user journey would be:<p>
			<ul class="dotted_list">
				<li>Talk with a potential donor</li>
				<li>Use their personal number and use a service to quickly auto fill out their name and adress to save time.</li>
				<li>Donor gives their email adress or phone number</li>
				<li>Chooses the amount to donate each month</li>
				<li>If they have their bank details, fill them out</li>
				<li>Sign with signature on the tablet or mobile BankID on their own phone.</li>
				<li>Get confirmation through email.</li>
				<li>Done!</li>
			</ul>
		</div>
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<div class="fourcol">
			<img src="images/case/msf/msf_5.jpg">
		</div>
		<div class="fourcol">
			<img src="images/case/msf/msf_3.jpg">
		</div>
		<div class="fourcol">
			<img src="images/case/msf/msf_4.jpg">
			<p class="right">Admin view</p>
		</div>
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<div class="sixcol">
			<img src="images/case/msf/msf_2.jpg">
			<p class="right">Main view for signing new donors</p>
		</div>
		<div class="sixcol right">
			<img src="images/case/msf/msf_offline1.jpg">
			<img src="images/case/msf/msf_offline2.jpg">
			<p class="right">Offline mode modals</p>
			<img src="images/case/msf/msf_6.jpg">
			<p class="right">Statistic view for recruiters</p>
		</div>
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<div class="eightcol">
			<p>No more paper that needs to be posted each day. No more spelling errors. Instant confirmation. If the donor does not know their bank details or wants to read up more on information before they accept they can choose to get a link sent to their email and confirm safely at home with bankID. Our solution has now been live for a while and have successfully helped with removing a lot of manual work.</p>
		</div>
	</div>
</div>

<%= partial "otherprojects_msf" %>
<%= partial "footer" %>
