---
title: Case / Iteam
---
<%= partial "header" %>

<div class="wrapper">
	<div class="row">
		<h1>Case / Iteam</h1>
	</div>
</div>


<div class="wrapper">
	<div class="row">
		<img class="about_header" src="images/case/iteam/iteam_cover.jpg">
	</div>
</div>

<div class="wrapper">
	<div class="row case_margin">
		<div class="sixcol">
			<h3>Iteam</h3>
			<p>Since I am the first designer since Iteam started 20 years ago there was lots to be done in-house when I started 2015. A couple of months earlier they had gotten a new graphic identity but hadn’t had time to impliment it fully.</p>
		</div>
		<div class="fivecol right">
			<p>I have since then crafted:</p>
			<ul class="dotted_list">
				<li>T-shirts</li>
				<li>Stickers</li>
				<li>An office flag for outdoor use</li>
				<li>Roll ups for events</li>
				<li>Business cards</li>
				<li>Christmas cards</li>
				<li>Taken photographs for an image bank</li>
				<li>A dashboard for internal use</li>
			</ul>
		</div>
	</div>
</div>

<div class="wrapper">
	<div class="row case_margin">
		<div class="eightcol">
			<img src="images/case/iteam/iteam_rollup.jpg">
		</div>
		<div class="fourcol">
			<img src="images/case/iteam/iteam_rollup2.jpg">
		</div>
	</div>
</div>

<div class="wrapper">
	<div class="row case_margin">
		<div class="fourcol">
			<img src="images/case/iteam/iteam_cards.jpg">
		</div>
		<div class="fourcol">
			<img src="images/case/iteam/iteam_tshirt.jpg">
		</div>
		<div class="fourcol">
			<img src="images/case/iteam/iteam_christmas.jpg">
		</div>
	</div>
</div>

<div class="wrapper">
	<div class="row case_margin">
		<img src="images/case/iteam/iteam_wejay.jpg">
	</div>
</div>

<%= partial "otherprojects" %>
<%= partial "footer" %>
