---
title: Case / Calderan - Hyper Island student project
---
<%= partial "header" %>

<div class="wrapper">
	<div class="row">
		<h1>Case / Calderan - Hyper Island student project</h1>
	</div>
</div>


<div class="wrapper section_margin">
	<div class="row">
		<img class="about_header" src="images/case/calderan/calderan_cover.jpg">
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<div class="tencol">
			<h3>Calderan - Hyper Island student project</h3>
			<p>At hyper island we have blocks of projects that lasts for 4-8 weeks, one of those projects were called "Exploring tech". The end goal was an exhibition with all students from two programs, digital media creative and motion graphics and try out as many technologies and really experiment.</p>
		</div>
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<div class="eightcol">
			<img src="images/case/calderan/calderan_1.jpg">
		</div>
		<div class="fourcol">
			<p>Our team of 5 decided to make a holographic 3D pyramid, yup, no hold backs here. The idea was to  assemble a big pyramid out of plexi glass, build a frame for everything to stand on and mount a big LCD tv in top of it facing down.</p>
			<p>My skilled team mates then modeled different items in 3D, coded them in a pattern using web GL and programmed a leap motion to be able to control the 3D models inside the pyramid. I created a backstory, branding and visuals surrounding our big piece.</p>
		</div>
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<div class="fourcol">
			<img src="images/case/calderan/calderan_2.jpg">
		</div>
		<div class="fourcol">
			<img src="images/case/calderan/calderan_3.jpg">
		</div>
		<div class="fourcol">
			<img src="images/case/calderan/calderan_4.jpg">
		</div>
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<div class="tencol">
			<p>The pyramid got a lot of attention at the end exhibition and people were telling people around them to come see our installation because they were so impressed with the result. </br>It was a very intense journey but the feeling when it all stood there in one piece, without falling apart or failing in any way was absolutely fantastic and a very proud moment in my life.</br>The event had more than 250 visitors and was featured in <a href="http://capdesign.se/?p=13273">CapDesign.</a></p>
		</div>
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<iframe src="https://player.vimeo.com/video/79290868" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
</div>
<%= partial "otherprojects_calderan" %>
<%= partial "footer" %>
