---
title: Case / +rehabstudio
---
<%= partial "header" %>

<div class="wrapper">
	<div class="row">
		<h1>Case / +rehabstudio</h1>
	</div>
</div>


<div class="wrapper section_margin">
	<div class="row">
		<img class="about_header" src="images/case/rehabstudio/rehab_cover.jpg">
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<div class="tencol">
			<h3>+rehabstudio</h3>
			<p>When I started my internship at rehab studio they were in the process of re-branding themselves and I had the pleasure of helping out. I designed stationary, door signage for both the London and Belfast office as well as developing an internal staff handbook and updated all branding on our social media.</br>I also designed and prepared assets for project pages on the website for the developers to implement.</p>
		</div>
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<div class="sixcol">
			<img src="images/case/rehabstudio/rehab_branding.jpg">
		</div>
		<div class="sixcol">
			<img src="images/case/rehabstudio/rehab_boost.jpg">
		</div>
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<div class="eightcol">
			<h3>Boost project</h3>
			<p>A cool project I was part of at rehabstudio was a pitch for a big brand, the name of the experimental project was Boost. We used our own process called <a href="https://rehabstudio.com/hackingadvertising/" target="_blank">Triage.</a> </br>It means quick prototyping and sharing everything with the client through the whole process for continuous feedback. This allows the client to have a full overview of the work and for us to focus on what’s important.</p><p>For this project I created some basic characters to use and together with the team developed a fun story. We later decided to develop the concept further with the cute characters engaging in a quiz game with movie themes. So I transformed them into famous movie personas that would be easy to recognize.</p>
		</div>
		<div class="fourcol">
			<img src="images/case/rehabstudio/rehab_boost2.jpg">
		</div>
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<div class="sixcol">
			<img src="images/case/rehabstudio/rehab_shift.jpg">
		</div>
		<div class="sixcol">
			<h3>Shift sneaker project</h3>
			<p>At +rehabstudio, we did a sideproject every week with a small team with the purpose of hacking something we thought was fun but didn’t necessary have a client for, just to show what we like to do.</br>One of the hackweeks we did was a very cool experimental page for a future product called “Shift sneaker” that we imagined as an intelligent fabric that could change color and pattern with just a simple click.</p>
		</div>
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<img src="images/case/rehabstudio/rehab_packs.png">
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<div class="eightcol">
			<p>For the site we shot some product pictures to use and manipulate different patterns on. I did icons for the different “packs” we developed for the concept.</p>
			<p>See the site in all it's glory here <a href="http://shiftsneaker.com/" target="blank">Shift sneaker</a>
			<p>The project was feutured in a couple of articles and was received in a very good way.</br><a href="http://www.gizmodo.co.uk/2015/06/the-shift-sneaker-could-be-the-future-of-footwear/" target="blank">Gizmodo</a></br><a href="https://hypebeast.com/2015/6/check-out-the-shift-color-changing-sneaker-concept" target="blank">Hypebeast</a></br><a href="http://www.highsnobiety.com/2015/06/09/color-changing-sneakers/" target="blank">High Snobiety</a></p>
		</div>
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<div class="sixcol">
			<h3>Internet of useless things project</h3>
			<p>Another project we did was called “Internet of useless things”, visit the site <a href="http://www.internetofuselessthings.io/" target="_blank">here</a> and was a parody of how hyped the whole IoT-movement was at the time. If we can connect everything to the internet, where would the limit go? What’s useful and serves a greater purpose?</br>
After ideating a lot of “stupid” ideas and products we made a product page to show off our concept. We also invited the public via a <a href="https://twitter.com/IoTUseless" target="_blank">Twitter hashtag</a> to suggest their own useless things that we could conceptionalize and put on our page.</br>
The response was quite great and we got a lot of suggestions and even more stupid ideas than we could imagine.</p>
		</div>
		<div class="sixcol">
			<img src="images/case/rehabstudio/iout-screen1.jpg">
		</div>
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
			<img src="images/case/rehabstudio/iout_1.png">
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<div class="sixcol">
			<p>Our project also managed to peak at Twitter as the most trending topic for a few days. Being the most popular link behind Jeff Bridges is a pretty nice achievment by my book!</p><p><a href="http://rehabstudio.com/thinking/the-internet-of-useless-things/" target="blank">+rehabstudio</a> wrote this about the projects popularity:</br> “The website saw over 52,000 visitors to the site in the first month alone. The website, and many of the fake products featured on it, were mentioned in over 30 prominent blogs including Motherboard, Design Taxi, Neatorama, PSFK, and Product Hunt.”</p>
			<p><a href="https://motherboard.vice.com/en_us/article/the-useless-side-of-the-internet-of-things" target="blank">Motherboard</a></br><a href="http://designtaxi.com/news/372499/The-Internet-of-Useless-Things-A-Website-That-Mocks-Our-Tech-Obsession/?interstital_shown=1" target="blank">Design Taxi</a></p>
		</div>
		<div class="sixcol">
			<img src="images/case/rehabstudio/iout_latest.png">
		</div>
	</div>
</div>

<%= partial "otherprojects_rehab" %>
<%= partial "footer" %>
