---
title: Case / Iteam
---
<%= partial "header" %>

<div class="wrapper">
	<div class="row">
		<h1>Case / Iteam</h1>
	</div>
</div>


<div class="wrapper">
	<div class="row">
		<img class="about_header" src="images/case/placeholder_header.jpg">
	</div>
</div>

<div class="wrapper">
	<div class="row">
		<div class="tencol">
			<h3>Iteam</h3>
			<p>Dolor fugit. Pariatur nihil quia but ipsa for eu or id. Aliquip natus. Nesciunt doloremque or voluptate, and et or laborum. Ipsa nemo rem. Autem. Sequi ullam or mollit yet commodi cupidatat. Corporis exercitation for inventore for aliqua. Exercitationem excepteur, ipsam yet tempora, aliqua cupidatat consequuntur. </p>
		</div>
	</div>
</div>

<%= partial "otherprojects" %>
<%= partial "footer" %>
