---
title: Case / Taxi Stockholm
---
<%= partial "header" %>

<div class="wrapper">
	<div class="row">
		<h1>Case / Taxi Stockholm</h1>
	</div>
</div>


<div class="wrapper section_margin">
	<div class="row">
		<img class="about_header" src="images/case/tsab/bokningsassistenten_wireframes.png">
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<div class="eightcol">
			<h3>Taxi Stockholm</h3>
			<p>I’ve worked on a few different projects with Iteams biggest client, Taxi Stockholm. For their costumer service department that’s working with communication and the logistics surrounding airport transportation to and from Bromma and Arlanda airports we helped with a new tool to automate some of their manual work. Instead of hours of copy + pasting information between two of their interfaces we made sure that the information automatically get’s transferred into the end system so that they can use that extra time creating value and improving service for their costumers.</p>
		</div>
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<div class="fourcol">
			<img src="images/case/tsab/bokningsassistenten_1.jpg" class="about_header">
		</div>
		<div class="fourcol">
			<img src="images/case/tsab/bokningsassistenten_2.jpg" class="about_header">
		</div>
		<div class="fourcol">
			<img src="images/case/tsab/bokningsassistenten_3.jpg" class="about_header">
		</div>
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<div class="sixcol">
			<img class="about_header" src="images/case/tsab/bokningsassistenten_4.jpg">
		</div>
		<div class="sixcol right">
			<p>Taxi Stockholm has a lot of collaborations with different hotels and company receptions that needs to book transport to their clients and staff easy and quickly. There were a lot of phone calls, post its, spreadsheets and ineffective ways of keeping track of booked taxis that we felt needed a big change.</br>
I started out with visiting hotels together with TSABs project leader to find out the user journey of today and what they feel they need to improve that experience. I collected the valuable feedback and began forming a new improved user journey, after deciding what the platform should be I did sketches of wireframes.<p>
<p>All throughout the process I had close contact and feedbacks with the client and our developers until we felt we had something great. Since we work in an agile way the developers could immediately start setting up the structure and functions while I finished the user interface to match the excisting design guides that Taxi stockholm uses.</br>
The client picked a few hotels to participate in the initial pilot to test and report any potential bugs and test user friendliness.
We quickly catched and fixed some small issues and bugs but overall had a fantastic response from the test users. They were thrilled to get rid of all their previous messy solutions with post its cluttering their screens and desks and could easily keep track of every hotel visitors bookings in our new list function.</p>
		</div>
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<img class="about_header" src="images/case/tsab/arlandaplatsen_1.jpg">
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<div class="sixcol">
			<img class="about_header" src="images/case/tsab/arlandaplatsen_2.jpg">
		</div>
		<div class="sixcol right">
			<p>For their costumer service department that’s working with communication and the logistics surrounding airport transportation to and from Bromma and Arlanda airports we helped with a new tool to automate some of their manual work. </br>Instead of hours of copy + pasting information between two of their interfaces we made sure that the information automatically get’s transferred into the end system so that they can use that extra time creating value and improving service for their costumers.</p>
		</div>
	</div>
</div>

<div class="wrapper section_margin">
	<div class="row">
		<div class="sixcol">
			</br></br></br><p>I also did the design for receipts and emails from Taxi Stockholm to clients using the app and paying with a company account.</p></br>
			<img class="about_header" src="images/case/tsab/kvitto_2.jpg">
		</div>
		<div class="sixcol right">
			<img class="about_header" src="images/case/tsab/kvitto_1.jpg">
		</div>
	</div>
</div>

<%= partial "otherprojects_tsab" %>
<%= partial "footer" %>
