---
title: Startsida
---
<%= partial "header" %>

<section class="wrapper">
  <div class="row case_margin">
    <h1>Hej! I’m Malin Wincrantz, I do </br>digital design and html/css</h1>
    <p class="text-intro">Sci-fi, cats, graphic novels, innebandy, board games and sewing nerdy costumes makes me happy as a clam. My wardrobe consists of mainly stuff in different shades of black.</p>
  </div>
</section>

<section class="wrapper">
  <div class="row">
    <div class="flex-grid">
      <div class="col">
        <img src="images/startpage/adventuretime.jpg">
      </div>
      <div class="col">
        <img src="images/startpage/instagram.jpg">
      </div>
      <div class="col">
        <img src="images/startpage/gunnar.jpg">
      </div>
    </div>
  </div>
</section>

<section class="wrapper">
  <div class="row">
    <h2>Previous adventures</h2>
    <div class="flex-grid-thirds">
      <div class="col">
        <h3>Iteam</h3>
        <p class="card-text">Digital Designer </br>Stockholm</p>
        <p class="card-text">1 year and 4 months</p>
      </div>
      <div class="col">
        <h3>+rehabstudio</h3>
        <p class="card-text">Design Intern </br>London</p>
        <p class="card-text">6 months</p>
      </div>
      <div class="col">
        <h3>Hyper Island</h3>
        <p class="card-text">Digital Media Creative Student </br>Stockholm</p>
        <p class="card-text">2 years</p>
      </div>
      <div class="col">
        <h3>48h ad competition</h3>
        <p class="card-text">Winner </br>Stockholm</p>
        <p class="card-text">3 days</p>
      </div>
      <div class="col">
        <h3>SVT</h3>
        <p class="card-text">Student Consultant </br>Stockholm</p>
        <p class="card-text">2 months</p>
      </div>
      <div class="col">
        <a href="#">Show me ALL THE THINGS! <img src="images/icons/arrow-right.svg" class="arrow-icon"></a>
      </div>
    </div>
  </div>
</section>

<%= partial "allcases" %>

<%= partial "footer" %>

<section class="wrapper quote">
  <div class="row">
    <p class="text-footer">"In six short months Malin confidently tackled a range of digital design problems demonstrating abilities from responsive web design layout to iconography. She also contributed new idea generation techniques which we have put into practice. A pleasure to have as part of our design team and more than ready to enter the industry, you should hire her!"</p>
    <p>– Stephen Horner, </br>Associate Creative Director at +rehabstudio</p>
  </div>
</section>
