---
title: Startsida
---
<%= partial "header" %>

<section class="wrapper section_margin">
  <div class="row">
    <h1>Hej! I’m Malin Wincrantz, I do </br>digital design and code</h1>
    <p class="text-intro">Sci-fi, cats, graphic novels, innebandy, board games and sewing nerdy costumes makes me happy as a clam. My wardrobe consists of mainly stuff in different shades of black.</p>
  </div>
</section>

<section class="wrapper section_margin">
  <div class="row">
    <div class="flex-grid">
      <div class="row-1">
        <div class="img-container1">
          <img src="images/startpage/adventuretime.jpg">
        </div>
        <div class="img-container2">
          <img src="images/startpage/zelda.jpg">
        </div>
        <div class="img-container3">
          <img src="images/startpage/gunnar.jpg">
        </div>
      </div>
      <div class="row-2">
        <div class="img-container1">
          <img src="images/startpage/selfie_katt.jpg">
        </div>
        <div class="img-container2">
          <div class="music-meta">
            <img src="images/icons/note.svg" class="note-icon">
            <div class="listening-to" data-lfm-user="erectionwoman" data-lfm-api="5cd46929dfd2861d71983cb06a297cf4" data-lfm-limit="1"></div>
          </div>
        </div>
        <div class="img-container3">
          <img src="images/startpage/innebandy.jpg">
        </div>
      </div>
      <div class="row-3">
        <div class="img-container1">
          <img src="images/startpage/dator.jpg">
        </div>
        <div class="img-container2">
          <img src="images/startpage/instagram.jpg">
        </div>
        <div class="img-container3">
          <img src="images/startpage/boardgames.jpg">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="wrapper section_margin">
  <div class="row">
    <h2>Previous adventures</h2>
    <div class="flex-grid-thirds">
      <div class="col">
        <h3>Iteam</h3>
        <p class="card-text">Digital Designer </br>Stockholm</p>
        <p class="card-text">1 year and 4 months</p>
      </div>
      <div class="col">
        <h3>+rehabstudio</h3>
        <p class="card-text">Design Intern </br>London</p>
        <p class="card-text">6 months</p>
      </div>
      <div class="col">
        <h3>Hyper Island</h3>
        <p class="card-text">Digital Media Creative Student </br>Stockholm</p>
        <p class="card-text">2 years</p>
      </div>
      <div class="col">
        <h3>48h ad competition</h3>
        <p class="card-text">Winner </br>Stockholm</p>
        <p class="card-text">3 days</p>
      </div>
      <div class="col">
        <h3>SVT</h3>
        <p class="card-text">Student Consultant </br>Stockholm</p>
        <p class="card-text">2 months</p>
      </div>
      <div class="col">
        <a href="#">Show me ALL THE THINGS! <img src="images/icons/arrow-right.svg" class="arrow-icon"></a>
      </div>
      <div class="col">
        <h3>Plotagon</h3>
        <p class="card-text">Design Intern </br>Stockholm</p>
        <p class="card-text">1 months</p>
      </div>
      <div class="col">
        <h3>Comet Consular</h3>
        <p class="card-text">Costumer Service </br>Stockholm</p>
        <p class="card-text">1 year and 6 months</p>
      </div>
      <div class="col">
        <h3>Surfdome.com</h3>
        <p class="card-text">Office operations assistant </br>London</p>
        <p class="card-text">1 year</p>
      </div>
      <div class="col">
        <h3>MrGizmo.se</h3>
        <p class="card-text">Customer service/Logistics </br>Stockholm</p>
        <p class="card-text">1 year and 8 months</p>
      </div>
      <div class="col">
        <h3>Mindset</h3>
        <p class="card-text">Administration </br>Stockholm</p>
        <p class="card-text">2 years</p>
      </div>
    </div>
  </div>
</section>

<%= partial "allcases" %>

<%= partial "footer" %>
