---
title: Startsida
---
<%= partial "header" %>

<section class="wrapper">
  <div class="row">
    <h1>Hej! I’m Malin Wincrantz, I do </br>digital design and html/css</h1>
    <p class="text-intro">Sci-fi, cats, graphic novels, innebandy, board games and sewing nerdy costumes makes me happy as a clam. My wardrobe consists of mainly stuff in different shades of black.</p>
  </div>
</section>

<section class="wrapper">
  <div class="row">
    <div class="flex-grid">
      <div class="col">
        <img src="images/startpage/adventuretime.jpg">
      </div>
      <div class="col">
        <img src="images/startpage/instagram.jpg">
      </div>
      <div class="col">
        <img src="images/startpage/gunnar.jpg">
      </div>
    </div>
  </div>
</section>

<section class="wrapper">
  <div class="row">
    <h2>Previous adventures</h2>
    <div class="flex-grid-thirds">
      <div class="col">
        <h3>Iteam</h3>
        <p class="card-text">Digital Designer </br>Stockholm</p>
        <p class="card-text">1 year and 4 months</p>
      </div>
      <div class="col">
        <h3>+rehabstudio</h3>
        <p class="card-text">Design Intern </br>London</p>
        <p class="card-text">6 months</p>
      </div>
      <div class="col">
        <h3>Hyper Island</h3>
        <p class="card-text">Digital Media Creative Student </br>Stockholm</p>
        <p class="card-text">2 years</p>
      </div>
      <div class="col">
        <h3>48h ad competition</h3>
        <p class="card-text">Winner </br>Stockholm</p>
        <p class="card-text">3 days</p>
      </div>
      <div class="col">
        <h3>SVT</h3>
        <p class="card-text">Student Consultant </br>Stockholm</p>
        <p class="card-text">2 months</p>
      </div>
      <div class="col">
        <a href="#"><p>Show me ALL THE THINGS! <img src="images/icons/arrow-right.svg"></p></a>
      </div>
    </div>
  </div>
</section>

<section class="wrapper">
  <div class="row">
  <h2>Stuff I've made</h2>
</div>
<div class="row">
  <div class="sixcol">
    <img src="images/case/placeholder.jpg">
  </div>
  <div class="sixcol case_text">
    <h3>Taxi Stockholm</h3>
    <p>Dolor fugit. Pariatur nihil quia but ipsa for eu or id. Aliquip natus. Nesciunt doloremque or voluptate, and et or laborum. Ipsa nemo rem. Autem. Sequi ullam or mollit yet commodi cupidatat. Corporis exercitation for inventore for aliqua. Exercitationem excepteur, ipsam yet tempora, aliqua cupidatat consequuntur. </p>
    <a href="./case_tsab.html"><p>Show me this project <img src="images/icons/arrow-right.svg"></p></a>
  </div>
</div>
<div class="row">
  <div class="sixcol">
    <img src="images/case/placeholder.jpg">
  </div>
  <div class="sixcol case_text">
    <h3>Läkare utan gränser</h3>
    <p>Dolor fugit. Pariatur nihil quia but ipsa for eu or id. Aliquip natus. Nesciunt doloremque or voluptate, and et or laborum. Ipsa nemo rem. Autem. Sequi ullam or mollit yet commodi cupidatat. Corporis exercitation for inventore for aliqua. Exercitationem excepteur, ipsam yet tempora, aliqua cupidatat consequuntur. </p>
    <a href="./case_msf.html"><p>Show me this project <img src="images/icons/arrow-right.svg"></p></a>
  </div>
</div>
<div class="row">
  <div class="sixcol case_text">
    <h3>Iteam</h3>
    <p>Dolor fugit. Pariatur nihil quia but ipsa for eu or id. Aliquip natus. Nesciunt doloremque or voluptate, and et or laborum. Ipsa nemo rem. Autem. Sequi ullam or mollit yet commodi cupidatat. Corporis exercitation for inventore for aliqua. Exercitationem excepteur, ipsam yet tempora, aliqua cupidatat consequuntur. </p>
    <a href="./case_iteam.html"><p>Show me this project <img src="images/icons/arrow-right.svg"></p></a>
  </div>
  <div class="sixcol">
    <img src="images/case/placeholder.jpg">
  </div>
</div>
<div class="row">
  <div class="sixcol case_text">
    <h3>+rehabstudio</h3>
    <p>Dolor fugit. Pariatur nihil quia but ipsa for eu or id. Aliquip natus. Nesciunt doloremque or voluptate, and et or laborum. Ipsa nemo rem. Autem. Sequi ullam or mollit yet commodi cupidatat. Corporis exercitation for inventore for aliqua. Exercitationem excepteur, ipsam yet tempora, aliqua cupidatat consequuntur. </p>
    <a href="./case_rehabstudio.html"><p>Show me this project <img src="images/icons/arrow-right.svg"></p></a>
  </div>
  <div class="sixcol">
    <img src="images/case/placeholder.jpg">
  </div>
</div>
<div class="row">
  <div class="sixcol">
    <img src="images/case/placeholder.jpg">
  </div>
  <div class="sixcol case_text">
    <h3>Calderan</h3>
    <p>Dolor fugit. Pariatur nihil quia but ipsa for eu or id. Aliquip natus. Nesciunt doloremque or voluptate, and et or laborum. Ipsa nemo rem. Autem. Sequi ullam or mollit yet commodi cupidatat. Corporis exercitation for inventore for aliqua. Exercitationem excepteur, ipsam yet tempora, aliqua cupidatat consequuntur. </p>
    <a href="./case_calderan.html"><p>Show me this project <img src="images/icons/arrow-right.svg"></p></a>
  </div>
</div>
<div class="row">
  <div class="sixcol">
    <img src="images/case/placeholder.jpg">
  </div>
  <div class="sixcol case_text">
    <h3>Hackweeks +rehabstudio</h3>
    <p>Dolor fugit. Pariatur nihil quia but ipsa for eu or id. Aliquip natus. Nesciunt doloremque or voluptate, and et or laborum. Ipsa nemo rem. Autem. Sequi ullam or mollit yet commodi cupidatat. Corporis exercitation for inventore for aliqua. Exercitationem excepteur, ipsam yet tempora, aliqua cupidatat consequuntur. </p>
    <a href="./case_hackweeks.html"><p>Show me this project <img src="images/icons/arrow-right.svg"></p></a>
  </div>
</div>
</section>

<%= partial "footer" %>

<section class="wrapper quote">
  <div class="row">
    <p>"In six short months Malin confidently tackled a range of digital design problems demonstrating abilities from responsive web design layout to iconography. She also contributed new idea generation techniques which we have put into practice. A pleasure to have as part of our design team and more than ready to enter the industry, you should hire her!"</p>
    <p>– Stephen Horner, </br>Associate Creative Director at +rehabstudio</p>
  </div>
</section>
