.quote {
  background-color: #26D7E7;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 20px;
  p {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
}
.flex-grid .col {
  width: 33%;
}
.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flex-grid-thirds .col {
  width: 32%;
}

.col {
  margin-bottom: 20px;
}

.case_text {
  margin-top: 40px;
}

.right {
  float: right;
}

.svg-icons {
  width: 25px;
  vertical-align: top;

}

.arrow-icon {
  margin-left: 5px;
}

.dotted_list {
  list-style: circle;
}

.section_margin {
  margin-bottom: 50px;
}

.case_margin {
  margin-bottom: 40px;
}

.no_border {
  text-decoration: none;
  border-bottom: none;
}

.case_link {
  border-bottom: 1px solid;
  display: inherit;
  img {
    margin-bottom: -1px;
  }
}

.contact-list {
  display: inline;
  margin-left: 2px;
}

.contact_li {
  display: inline-block;
  margin-right: 20px;
}
