.img-grid {
  img {
    display: block;
  }
  .row-1 {
    display: flex;
    margin-bottom: 10px;
    .img-container1 {
      flex: 1.4998;
    }
    .img-container2 {
      flex: 1;
      margin: 0 10px;
    }
    .img-container3 {
      flex: 1.3333;
    }
  }
  .row-2 {
    display: flex;
    margin-bottom: 10px;
    .img-container1 {
      flex: 1;
      @include single-column {
        display: none;
        flex: 0;
      }
    }
    .img-container2 {
      flex: 1.3694;
      margin: 0 10px;
      background-color: #26D7E7;
      position: relative;
      overflow: hidden;
      @include single-column {
        margin-left: 0;
      }
      .music-meta {
        text-align: center;
        width: 100%;
        padding: 2%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        span {
          color: #fff;
          @include x-rem(font-size, 2.1);
          display: block;
          line-height: 1.2;
          @include single-column {
            @include x-rem(font-size, 1.4);
          }
        }
        span {
          color: #fff;
          line-height: 1.2;
        }
        .note-icon {
          width: 35px;
          margin: 0 auto 15px auto;
          @include single-column {
            width: 15px;
            margin: 0 auto 5px auto;
          }
        }
      }
    }
    .img-container3 {
      flex: 1.7777;
    }
  }
  .row-3 {
    display: flex;
    margin-bottom: 10px;
    .img-container1 {
      flex: 1.3333;
    }
    .img-container2 {
      flex: 1;
      margin: 0 10px;
    }
    .img-container3 {
      flex: 1.3333;
    }
  }
}



.flex-grid-fours, .flex-grid-thirds {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-grid-fours .col {
  width: 24%;
  @include single-column {
    width: 48%;
    margin-bottom: 15px;
    h3 {
      @include x-rem(font-size, 1.4);
      line-height: 1.2;
    }
    span {
      @include x-rem(font-size, 1.2);
      line-height: 1.2;
    }
  }
}

#toggle {
  align-self: center;
}

.flex-grid-thirds .col {
  width: 32%;
  @include single-column {
    width: 50%;
    h3 {
      @include x-rem(font-size, 1.8);
    }
    .card-text {
      @include x-rem(font-size, 1.4);
    }
  }
}

.right {
  float: right;
}

.quote {
  background-color: #26D7E7;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  p {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    @include single-column {
      width: 100%;
    }
  }
}


.svg-icons {
  width: 25px;
  vertical-align: top;
  margin-right: 5px;
}

.arrow-icon {
  margin-left: 5px;
}

.dotted_list {
  list-style: circle;
}

.section_margin {
  margin-bottom: 50px;
  @include single-column {
    margin-bottom: 40px;
  }
}

.no_border {
  text-decoration: none;
  border-bottom: none;
}

.case_text {
  margin-top: 40px;
}

.small_margin {
  margin-bottom: 30px;
}

.case_link {
  border-bottom: 1px solid;
  display: inherit;
  @include x-rem(font-size, 1.6);
  img {
    margin-bottom: -1px;
  }
}
